@import "tailwindcss";

@theme {
  --color-primary: #f44174; /* Cor principal - Destaques e botões */
  --color-secondary: #f7e1d7; /* Fundo da página - Suave e neutro */
  --color-dark: #0c120c; /* Texto principal - Alto contraste */
  --color-accent: #f44174; /* Cor de destaque */
  --color-background: #f7e1d7; /* Fundo geral da página */
  --color-secondary-text: #6b6b6b; /* Texto secundário - Contraste suave */
  --color-link: #f44174; /* Links - Chamativo e consistente */
  --color-success: #4caf50; /* Verde para sucessos e confirmações */
  --color-alert: #ff5733; /* Laranja para alertas e erros */
  --color-card-background: #ffffff; /* Fundo dos cards - Branco neutro */
}
